@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');


* {
  box-sizing: border-box;
}

button {
    outline: none;
    transition: 0.4s ease all;
}

button:hover {
    opacity: 0.8;
}

body {
  margin: 0;
}

.App {
  width: 60%;
  margin: auto;
  margin-top: 31px;
  height: 100vh;
  font-family: 'Fira Sans';
}

.modal-backdrop {
  display: none;
}

.App.modal-active .modal-backdrop {
  display: block;
  background:rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal {
  background: white;
  display: none;
}

.modal.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  padding: 20px;
  position: fixed;
  border-radius: 10px;
  width: 300px;
  z-index: 101;
}

.select {
  position: relative;
  float: right;
  width: max-content;
  outline: none;
  cursor: pointer;
}

.select .option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.select .selectedOption {
  background: #F4F5F6;
  border-radius: 5px;
  height: 30px;
  transition: 0.4s ease-in-out all;
  font-weight: bold;
}

.select i {
  font-size: 20px;
}

.select.active .selectedOption {
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.select .option span {
  margin-left: 8px;
  font-size: 12px;
}

.select .options {
  background: #F4F5F6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease all;
}

.select.active .options {
  display: block;
  max-height: 300px;
}

.select .options .option {
  padding: 5px 10px;
}

.nextButton {
  width: 100%;
  float: right;
  height: 40px;
  margin-bottom: 30px;
  background-color: #FFD217;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
}

.prevButton {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #d8d8d8;
}

.form-container {
  width: 100%;
  width: 250px;
  margin: auto;
}

input[type=text], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px;
  background: rgba(244, 245, 246, 0.5);
}

label {
  color: #525252;
  font-size: 13px;
}

input[type=text]::placeholder,
input[type=email]::placeholder
{
  color: rgba(82, 82, 82, 0.4);
}

select{
  color:  rgba(82, 82, 82, 0.4);
}


i {
  float: right;
  cursor: pointer;
}

@import url('./responsive.css');
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .tabSteps .step:nth-child(2) span,
  .tabSteps .step:nth-child(4) span
   {
    top: 20px;
  }

  .footer-flex-container > div {
    font-size: 8px;
    color: #9B9B9B;
    width: 33%;
    margin: 10px;
  }

  .tabSteps .step span {
    font-size: 9px;
  }

  .App {
    width: 90%;
  }
}
